<div ng-show="showPopover" id="popover" class="popover">
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <h4>User info: </h4>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img src="{{ asset('bundles/mainfrontend/images/spy.png') }}"
                 alt="Spy"
                 style="width: 55px;"
                 ng-click="spy(user.id)"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul>
                <li>soldiers - [[user.soldier]]</li>
                <li>food - [[user.food]]</li>
                <li>iron - [[user.iron]]</li>
                <li>concrete - [[user.concrete]]</li>
                <li>activity - [[user.date]]</li>
            </ul>
        </div>
    </div>
</div>