<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
            '@bootstrap_css'
            '@frontend_css'
            '@angular_aside_css'

        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('frontend.view.homepage') }}">War</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('frontend.view.homepage') }}">Main</a></li>
                    <li><a href="{{ path('frontend.view.soldiers') }}">Soldiers</a></li>
                    <li><a href="{{ path('frontend.view.vehicles') }}">Vehicles</a></li>
                    <li><a href="{{ path('frontend.view.map') }}">Map</a></li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown">
                    {#<a data-toggle="dropdown" class="dropdown-toggle" href="#"><b class="caret">Username</b></a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li class="divider"></li>#}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#<li>#}
                                <a href="{{ path('common.view.logout_profile') }}" class="pull-right">
                                    <b>{{ app.user.username }}</b><i class="fa fa-lock"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {#</li>#}
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}" class="pull-right">
                                <i class="fa fa-lock"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% endif %}
                    {#</ul>#}
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div ng-app="war.dashboard" class="container theme-showcase" role="main" style="margin-top: 50px">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
        <div class="row" ng-controller="CountersCtrl">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div style="margin-top: 20px"></div>
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <soldier-counter></soldier-counter>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <concrete-counter></concrete-counter>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <food-counter></food-counter>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <iron-counter></iron-counter>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% block body %}
    {% endblock %}
</div>

{% block javascripts %}
    {% javascripts
        '@jquery_js'
        '@angular_js'
        '@angular_route_js'
        '@moment_js'
        '@angular_bootstrap_js'
        '@angular_aside_js'
        '@angular_timer_js'
        '@firebase_js'
        '@d3_js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        angular
                .module('configuration', [])
                .constant('USER', '{{ app.user.id | default() }}')
                .constant('BASE_END_POINT', '{{ app.request.getSchemeAndHttpHost() ~ app.request.baseUrl }}');
    </script>
    {% javascripts '@frontend_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
